<ion-header>
  <ion-toolbar>
    <ion-title>
      Meus serviços
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header text-center>
          Fazendo, vai dar só R$ 200,00
        </ion-list-header>
        <ion-item>
          <ion-label>
              <h3>1 Cerômero</h3>
              <h3>Dra Priscila</h3>
              <h3>Prazo: 10/03/2020</h3>
          </ion-label>
        </ion-item>
        <ion-list-header text-center>
          Tá feito, só vai pagar R$ 400,00
        </ion-list-header>
        <ion-item>

          
          <ion-label>
              <h3>1 Cerâmica</h3>
              <h3>Dra Priscila</h3>
              <h3>Prazo: 10/03/2020</h3>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
              <h3>2 Metais</h3>
              <h3>Dra Priscila</h3>
              <h3>Prazo: 09/03/2020</h3>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
              <h3>1 Cerômero</h3>
              <h3>Dra Priscila</h3>
              <h3>Prazo: 01/03/2020</h3>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
              <h3>2 Cerômero</h3>
              <h3>Dra Priscila</h3>
              <h3>Prazo: 01/03/2020</h3>
          </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
